#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    width: 100%;
}

#about-img-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    filter: blur(8px);
    border-radius: 100%;
}

#about-img-2 {
    position: absolute;
    border: 1px outset bisque;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

/* hr {
    color: var(--primary-grey);
    width: 100%;
    margin: 0;
    margin-top: 11em;
} */

#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11em;
    padding: 0;
    margin-bottom: 4em;
    background-color: var(--navbar-blue);
    opacity: 90%;
}

#about-header {
    font-family: Open-Sans;
    font-size: 70px;
    color: var(--primary-text);
    margin: 0 auto 10px auto;
}

#about-subhead {
    font-family: Open-Sans;
    font-size: 25px;
    color: var(--primary-text);
    margin: 0 auto 20px auto;
}

#about-body-container {
    color: var(--primary-grey);
    width: 90%;
    text-align: center;
    font-family: Slabo;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

@media (min-width: 500px) {
    #about-img {
        width: 40%;
    }
}

@media (min-width: 745px) {
    #about-img {
        width: 30%;
    }
}

@media (min-width: 900px) {
    #about-img {
        width: 15%;
    }
}
