/*//////////////////////////////////////////////
/// Default styling; 15" Macbook Air ///////*/

/*/////////////////////////////
/// About Container ///////*/

.about-container {
    margin-top: 4em;
}

.about-img {
    position: relative;
    width: 40em;
    height: 30em;
    transform: rotate(-90deg);
    object-fit: cover;
    overflow: hidden;
    margin: 6em 0 0 4em;
    opacity: 75%;
    border-radius: 20px;
}

.about-header {
    display: inline;
    position: relative;
    height: 2.4em;
    top: -1.6em;
    right: .3em;
    font-family: Ranchers;
    color: #D1A60B;;
    font-size: 14em;
    letter-spacing: 2px;
}

.ah2 {
    position: relative;
    left: 2.846em;
    top: -1.8em;
}

#hello-intro {
    position: relative;
    top: -10em;
    left: 20em;
    /* For some reason this p tag is reallllllly wide and causes a horizontal scroll, so I added this width. */
    width: 20%;
    font-size: 2em;
    color: darkorange;
}

.about-text-body {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: -14em;
    width: 92%;
    margin: 0 auto;
    font-size: .8em;
    font-family: Slabo;
    padding: 2em;
    border-radius: 10px;
    color: black;
    background-color: rgba(239, 245, 255, .2);
}

.stock-photo-1-container {
    /* position: relative;
    top: 5em;
    left: 3em; */
    width: 35%;
    margin-right: 3em;
}

.stock-photo-1 {
    /* position: relative; */
    width: 100%;
    border-radius: 5%;
}

.stock-photo-2-container {
    /* position: relative;
    top: -33em;
    left: 65em; */
    width: 35%;
    margin-left: 3em;
}

.stock-photo-2 {
    width: 100%;
    border-radius: 5%;
}

.stock-photo-3-container {
    width: 35%;
    margin-right: 3em;
    margin: 4em 3em 0 0;
}

.stock-photo-3 {
    width: 100%;
    border-radius: 5%;
}

.about-p {
    padding: 0;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: .5px;
}

.p-1 {
    /* position: relative;
    left: 25em;
    top: -2em; */
    width: 55%;
}

.p-2 {
    /* position: relative;
    top: -1em;
    left: 1em; */
    width: 55%;
}

.p-3 {
    width: 60%;
}

.p-4, .sig {
    width: 100%;
    text-align: right;
    margin-right: 3em;
}