#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    width: 100%;
}
#about-img-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    filter: blur(8px);
    border-radius: 100%;
}

#about-img-2 {
    position: absolute;
    border: 1px outset var(--header-text-1);
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11em;
    padding: 0;
    margin-bottom: 4em;
    background-color: var(--navbar-blue);
    opacity: 90%;
}

#about-header {
    /* font-family: Open-Sans; */
    font-family: Slabo;
    /* font-size: 70px; */
    font-size: 7em;
    color: var(--primary-red);
    /* margin: 0 auto 10px auto; */
    margin: 0.3em 0 0 0;
}

#about-subhead {
    font-family: Open-Sans;
    font-size: 25px;
    color: var(--primary-yellow);
    /* margin: 0 auto 20px auto; */
    margin: 0 auto 20px 38%;
}

#about-body-container {
    color: var(--primary-grey);
    width: 65%;
    text-align: left;
    font-family: Open-Sans;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

@media (min-width: 630px) and (max-width: 650px) {
    #about-body-container {
        text-align: center;
    }
    #about-subhead {
        margin: 0 auto 20px auto;
    }
}

@media (max-height: 840px) and (max-width: 500px) {
    #about-body-container {
        text-align: center;
        width: 90%;
    }
    #about-subhead {
        margin: 0 auto 20px auto;
    }
}

@media (min-width: 500px) {
    #about-img {
        width: 40%;
    }
}

@media (min-width: 745px) {
    #about-img {
        width: 30%;
    }
}

@media (min-width: 900px) {
    #about-img {
        width: 15%;
    }
}
