#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
}
#about-img-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    filter: blur(8px);
    border-radius: 100%;
}

#about-img-2 {
    position: absolute;
    border: 1px outset var(--header-text-1);
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11em;
    padding: 0;
    margin-bottom: 4em;
    background-color: var(--navbar-blue);
    opacity: 90%;
}

#about-header {
    font-family: Slabo;
    font-size: 7em;
    color: var(--primary-red);
    margin: 0.3em 0 0 0;
}

#about-subhead {
    font-family: Open-Sans;
    font-size: 25px;
    color: var(--primary-yellow);
    margin: 0 auto 20px auto;
}

#about-body-container {
    color: var(--primary-grey);
    width: 90%;
    text-align: center;
    font-family: Open-Sans;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

/* Larger Viewport adjustments */

@media (min-width: 640px) {
    #body-container {
        padding-bottom: 4em;
    }

    #about-body-container {
        text-align: left;
        width: 80%;
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    #about-body-container {
        width: 70%;
    }
}
