/*//////////////////////////////////////////////
/// Default styling; 15" Macbook Air ///////*/

/*/////////////////////////////
/// About Container ///////*/

.about-container {
    margin-top: 4em;
}

.about-img {
    position: relative;
    width: 40em;
    height: 30em;
    transform: rotate(-90deg);
    object-fit: cover;
    overflow: hidden;
    margin: 6em 0 0 4em;
    opacity: 75%;
    border-radius: 20px;
}

.about-header {
    display: inline;
    position: relative;
    height: 2.4em;
    top: -1.7em;
    right: .3em;
    font-family: Ranchers;
    color: #D1A60B;;
    font-size: 14em;
    letter-spacing: 2px;
}

.ah2 {
    position: relative;
    left: 2.846em;
    top: -2em;
}

.about-text-body {
    position: relative;
    top: -27.5em;
    left: 44em;
    width: 50%;
    height: 100%;
    text-align: right;
    font-size: 1em;
    font-family: Slabo;
    letter-spacing: .5px;
    line-height: 30px;
    color: rgb(194, 213, 216);
}

#hello-intro {
    font-size: 2em;
    margin-top: 5em;
    padding: 0;
    text-align: left;
    color: darkorange;
}

.image-1Container {
    position: relative;
    right: 35em;
    top: 5em;
    width: 70%;
}

.image-1 {
    width: 100%;
}

.about-p {
    padding: 0;
    margin-bottom: 1em;
    font-size: 25px;
}

.p-1 {
    margin-top: -8em;
}

.p-2 {
    position: relative;
    top: 1em;
    left: -25em;
    text-align: left;
}

.p-3 {
    position: relative;
    top: 2em;
}

.p-4 {
    position: relative;
    top: 3em;
}

.sig {
    position: relative;
    top: 4em;
}