.carousel-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 45vh;
    padding: 0;
    margin: 0;
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 40px 0 40px;
}

carousel-component {
    height: 100%;
}

.images-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-bottom: 2em;
}

.slide {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.current-slide {
    display: block;
}

.image {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image.moodset {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
}

.carousel-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.carousel-btn img {
    width: 2em;
}

.button-next-container {
    position: absolute;
    top: 30%;
    right: 0;
}

.btn-next img {
    transition: all 0.3s ease;
}

.btn-next img:hover {
    width: 4em;
    opacity: 50%;
}

.button-prev-container {
    position: absolute;
    top: 30%;
    left: 0;
}

.btn-prev img {
    transition: all 0.3s ease;
}

.btn-prev img:hover {
    width: 4em;
    opacity: 50%;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin-top: -3vh;
}

.position-indicator {
    border: none;
    height: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.current-dot {
    box-shadow: 1px 0 10px 4px #0ff;
}

.position-indicator:hover {
    box-shadow: 1px 0 10px 4px #0ff;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
}

.project-link-button {
    cursor: pointer;
    border: none;
    background-color: var(--primary-button);
    padding: 3px 40px;
    width: 5em;
    border-radius: 4px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.project-link-button a {
    margin: 0 auto;
    color: var(--primary-grey);
    transition: color 0.3s ease;
}

.project-link-button:hover {
    background: rgb(91, 46, 95);
    box-shadow: 1px 2px 0 4px var(--primary-yellow);
    a {
        color: white;
    }
    font-weight: bold;
}

/* Full screen 13" laptop 1280px x 688px */
@media (min-width: 800px) and (max-width: 1300px) {
    .project-link-button {
        display: flex;
        justify-content: center;
    }
}

/* Split screen for 13" laptop 640px x 688px */
@media (min-width: 630px) and (max-width: 650px) {
    .button-container {
        top: 13%;
    }
    .carousel-home {
        width: 50vw;
        height: 40vh;
    }
    .project-link-button {
        display: flex;
        justify-content: center;
    }
}

@media (max-height: 840px) and (max-width: 500px) {
    .carousel-home {
        width: 80vw;
        height: 30vh;
    }
    .carousel {
        max-width: 99%;
        padding: 0 35px 0 35px;
    }
    .project-link-button {
        display: flex;
        justify-content: center;
    }
    .project-link-button a {
        margin: 0 auto;
    }
}
