.carousel-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid hotpink;
    width: 30vw;
    height: 60vh;
    padding: 0;
    margin: 0;
}

.carousel {
    border: 2px solid orange;
    height: 100%;
    width: 100%;
    padding: 0;
}

carousel-component {
    height: 100%;
}

.images-list {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    padding: 0;
}

.slide {
    display: none;
    padding: 0;
    list-style-type: none;
}

.current-slide {
    display: block;
}

.image {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    display: flex;
    justify-content: center;
}

.carousel-nav {
    display: flex;
    justify-content: center;
}
