/* Overriding Bootstrap root value for links */
:root {
    --bs-link-hover-color: none;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5em;
}

.contact-body {
    margin-top: 0;
    color: var(--primary-yellow);
}

.form-container {
    display: flex;
    justify-content: center;
    width: 70%;
}

form {
    display: flex;
    justify-content: center;
}

.form-input-non-message {
    width: 70%;
    margin: 0;
    padding: 0;
}

.form-input-message {
    width: 83%;
    margin-top: 15px;
}

/* Replacing Bootstrap root values */
.btn-primary {
    background-color: var(--primary-button);
    color: var(--primary-grey);
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-button-hover);
    color: white;
}
