.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.contact-body {
    margin-top: 2em;
}

form {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 60%;
    max-width: 90%;
}

.form-control.email,
.form-control.subject {
    margin-bottom: 1em;
}
