.contact-container {
    width: 80vw;
    margin: 0 auto;
    border: 2px solid red;
}

.contact-body {
    text-align: center;
    font-weight: bold;
}

.g-3 {
    display: flex;
    justify-content: center;
}

.col-12 {
    text-align: center;
}

.form-control {
    margin-top: -1em;
}

.textarea {
    margin-top: 1em;
}
