@font-face {
    font-family: Open-Sans;
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Slabo;
    src: url(../fonts/Slabo_27px/Slabo27px-Regular.ttf);
}

@keyframes expand {
    0% {
        transform: scale(0, 0.025);
    }
    50% {
        transform: scale(1, 0.025);
    }
}

:root {
    --const: #569cd6;
    --blue-text: #76c1ff;
    --equal-sign-and-comma: ;
    --curly-braces: rgb(255, 221, 0);
    --key: #9cdcfe;
    --orange-text: #ce9178;
    --primary-blue: rgb(34, 40, 52);
    --navbar-blue: rgb(60, 72, 94);
    --primary-text: bisque;
    --primary-grey: rgb(199, 199, 199);
    --primary-button: rgb(138, 75, 143);
    --primary-button-hover: rgb(91, 46, 95);
    /* --outside-link: rgb(255, 221, 0); */
    --yellow-text: rgb(255, 221, 0);
    --glow-green: rgb(140, 240, 166);
    --nav-hover: rgb(255, 174, 0);
}

body {
    /* background-color: var(--primary-blue); */
    background: linear-gradient(
        to bottom,
        var(--primary-blue),
        var(--navbar-blue) 85%
    );
    margin: 0;
    padding: 0;
}
