@font-face {
    font-family: Open-Sans;
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Slabo;
    src: url(../fonts/Slabo_27px/Slabo27px-Regular.ttf);
}

:root {
    --primary-yellow: rgb(255, 221, 0);
    --primary-orange: #ce9178;
    --primary-blue: rgb(34, 40, 52);
    --primary-grey: rgb(199, 199, 199);
    --primary-button: rgb(138, 75, 143);
    --primary-button-hover: rgb(91, 46, 95);
    --const: #569cd6;
    --variable: #76c1ff;
    --key: #9cdcfe;
    --navbar-blue: rgb(60, 72, 94);
    --header-text-1: bisque;
    --glow-green: rgb(140, 240, 166);
    --nav-hover: rgb(255, 174, 0);
    --s: 0.1em; /* thickness of line for nav button animation */
    --c: var(--primary-yellow); /* color for nav button animation */
}

body {
    background-color: var(--primary-blue);
    margin: 0;
    padding: 0;
}
