@font-face {
    font-family: Open-Sans;
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Slabo;
    src: url(../fonts/Slabo_27px/Slabo27px-Regular.ttf);
}

@keyframes expand {
    0% {
        transform: scale(0, 0.025);
    }
    50% {
        transform: scale(1, 0.025);
    }
}

:root {
    --primary-blue: rgb(34, 40, 52);
    --navbar-blue: rgb(60, 72, 94);
    --primary-text: bisque;
    --primary-grey: rgb(199, 199, 199);
    --primary-button: rgb(138, 75, 143);
    --primary-button-hover: rgb(91, 46, 95);
    --outside-link: rgb(76, 150, 115);
}

body {
    background-color: var(--primary-blue);
    margin: 0;
    padding: 0;
}
