.intro-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 4em;
    min-height: 81vh;
    letter-spacing: 1px;
    width: 70%;
    margin: 0 auto;
}

.home-title {
    font-family: Open-Sans;
    font-size: 35px;
    margin: 0;
}

.home-sub {
    font-family: Open-Sans;
    font-size: 20px;
    margin: 5px 20px;
}

#const {
    color: var(--const);
}

#varName {
    color: var(--variable);
}

.equalAndComma {
    color: white;
}

.openCurlyBrace {
    color: var(--primary-yellow);
}

.closeCurlyBrace {
    color: var(--primary-yellow);
}

.key {
    color: var(--key);
}

.value {
    color: var(--primary-orange);
}

#tech-exp {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    min-height: 45vh;
    background-color: var(--navbar-blue);
    padding-top: 8em;
    padding-bottom: 4em;
    margin-bottom: 5em;
}

#tech-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250%;
    height: 2px;
    background-color: var(--primary-blue);
}

#tech-title {
    position: relative;
    top: -2em;
    left: 3em;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: -1em;
    font-family: Open-Sans;
    font-size: 3.5em;
    color: var(--primary-grey);
    letter-spacing: 0.5px;
}

.tech-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
}

.tech-about-animation {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: var(--delay);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tech-logo {
    background-color: white;
    max-width: 96px;
    height: 96px;
    padding: 10px;
    margin: 5px;
    object-fit: cover;
    border-radius: 20%;
}

.node,
.mongo,
.git,
.next {
    object-fit: contain;
}

@media (max-height: 840px) and (max-width: 500px) {
    .intro-container {
        min-height: 67vh;
    }
    .home-title {
        font-family: Open-Sans;
        font-size: 25px;
        margin: 0;
    }

    .home-sub {
        font-size: 15px;
        width: 100%;
        margin-top: 0;
    }

    #tech-exp::before {
        top: -2em;
        left: 20%;
        width: 80%;
    }

    #tech-title {
        padding: 15px 0 35px 3.1em;
        font-size: 30px;
    }
}
