/* main development viewport size 958x951 */

@keyframes gradient {
    0% {
        background-position: 0% 40%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes expand {
    0% {
        transform: scale(0, 0.025);
    }
    50% {
        transform: scale(1, 0.025);
    }
}

body {
    background: linear-gradient(
        120deg,
        #d7c171,
        #848484,
        rgb(140, 148, 223),
        rgb(29, 29, 43)
    );
    animation: gradient 3s 1 ease-in-out forwards;
    width: 100%;
    background-attachment: fixed;
    background-size: 400% 400%;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
}

.home-container {
    padding: 0;
    width: 80%;
    height: 64vh;
    margin: 0 auto;
}

#home-title {
    font-family: Open-Sans;
    letter-spacing: -5px;
    text-shadow: 0.3px 0.4px 1px black;
    font-size: 120px;
    margin: -2px auto -2px 0;
    color: rgb(194, 213, 216);
}

#home-sub {
    font-family: Open-Sans;
    font-size: 30px;
    margin: 0 auto 2em 0.4em;
    color: #d7c171;
}

.intro-body {
    position: relative;
    font-size: 1.5em;
    width: 60%;
    margin: 0 auto;
    color: rgb(194, 213, 216);
    font-family: Slabo;
    letter-spacing: 1px;
}

.tech-exp {
    /* For some reason flexbox removes the 2 HR tags... */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    padding: 0;
    margin-top: 10em;
    margin-bottom: 5em;
}

#tech-header {
    font-size: 55px;
    color: #d7c171;
    font-family: Open-Sans;
    text-shadow: 0.3px 0.4px 1px black;
    text-align: center;
    margin: 0;
    padding: 0;
}

#hr-1 {
    position: relative;
    left: 0;
    margin-bottom: -1px;
    background: rgb(202, 202, 202);
    height: 4px;
    border: none;
    box-shadow: 0.3px 0.4px 1px black;
    border-radius: 50%;
    overflow: hidden;
}

.tech-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 2em;
    margin: 0 auto;
    margin-top: 2em;
    background: rgba(255, 255, 255, 0.197);
    border-radius: 10px;
}
.tech-about-animation {
    animation: expand 1s;
}

.tech-logo {
    position: relative;
    left: -10px;
    max-width: 15%;
    max-height: 15%;
    object-fit: contain;
    margin-bottom: 0.2em;
}
.html {
    /* width: 19%; */
}
.css {
    width: 23%;
}
.node {
    border-radius: 10px;
    padding: 0 10px 0 10px;
    width: 19%;
}
.psql {
    width: 17%;
}
.react {
    margin-bottom: 1em;
}
.mongo {
    padding: 0 10px 0 10px;
    border-radius: 10px;
}
.git {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    #home-title {
        line-height: 115px;
        margin-bottom: 20px;
    }

    .intro-body {
        width: 100%;
    }

    #tech-about {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }
    .tech-logo {
        position: relative;
        max-width: 30%;
        max-height: 30%;
        object-fit: contain;
    }
    .html {
        width: 19%;
    }
    .css {
        width: 23%;
    }
    .node {
        stroke: 2px;
        border-radius: 10px;
        width: 19%;
    }
    .psql {
        width: 17%;
    }
}

@media screen and (max-width: 500px) {
    #email {
        display: block;
    }

    #home-title {
        font-size: 5.5em;
        margin-left: -0.2em;
    }

    #home-sub {
        font-size: 1.5em;
        margin-left: -0.2em;
        margin-bottom: 2em;
    }

    .home-container {
        height: 85vh;
    }

    .intro-body {
        font-size: 25px;
        width: 100%;
    }

    #tech-about {
        width: 80%;
    }

    .carousel-nav {
        margin-bottom: 10px;
    }
}
