.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-title {
    font-family: Open-Sans;
    letter-spacing: -3px;
    line-height: 1em;
    text-align: center;
    font-size: 70px;
    color: white;
}

#home-sub {
    font-family: Open-Sans;
    text-align: center;
    font-size: 30px;
    color: white;
}

.intro-body {
    position: relative;
    top: 2em;
    font-family: Slabo;
    text-align: center;
    font-size: 1.5em;
    color: white;
    letter-spacing: 1px;
}

#tech-exp {
    background-color: blueviolet;
    padding: 0;
    margin-top: 10em;
}

#tech-title {
    font-size: 50px;
    color: white;
    font-family: Open-Sans;
    text-align: center;
    margin: 0 0 20px 0;
}

.tech-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.tech-about-animation {
    animation: expand 1s;
}

.tech-logo {
    background-color: white;
    max-width: 96px;
    height: 96px;
    padding: 10px;
    margin: 5px;
    object-fit: cover;
    border-radius: 20%;
}

.node,
.mongo,
.git,
.next {
    object-fit: contain;
}

@media (min-width: 600px) {
    #tech-exp {
        margin-top: 12em;
    }
}

@media (min-width: 688px) {
    #tech-exp {
        margin-top: 16.2em;
    }
}

@media (min-width: 750px) {
    #home-title {
        margin-top: 1.7em;
    }

    .intro-body {
        max-width: 75%;
    }
}
