/* main development viewport size 958x951 */

@keyframes gradient {
    0% {
        background-position: 0% 40%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes expand {
    0% {
        transform: scale(0, 0.025);
    }
    50% {
        transform: scale(1, 0.025);
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-title {
    margin: 20px auto 0.5em auto;
    font-family: Open-Sans;
    letter-spacing: -3px;
    text-shadow: 0.3px 0.4px 1px black;
    font-size: 120px;
    color: var(--primary-white);
}

#home-sub {
    position: relative;
    top: -3em;
    font-family: Open-Sans;
    font-size: 30px;
    color: var(--primary-yellow);
}

.intro-body {
    text-align: center;
    font-size: 1.5em;
    width: 60%;
    color: var(--primary-white);
    font-family: Slabo;
    letter-spacing: 1px;
}

.tech-exp {
    padding: 0;
    margin-top: 10em;
    margin-bottom: 5em;
}

#tech-header {
    font-size: 55px;
    color: var(--primary-yellow);
    font-family: Open-Sans;
    text-shadow: 0.3px 0.4px 1px black;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
}

#hr-1 {
    position: relative;
    left: 0;
    margin-bottom: 1em;
    background: var(--primary-white);
    height: 4px;
    border: none;
    box-shadow: 0.3px 0.4px 1px black;
    border-radius: 50%;
    overflow: hidden;
}

.tech-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    background: var(--primary-grey);
    border-radius: 10px;
}
.tech-about-animation {
    animation: expand 1s;
}

.tech-logo {
    background-color: var(--primary-white);
    width: 6em;
    max-width: 96px;
    height: 96px;
    padding: 10px;
    margin: 5px;
    border-radius: 20%;
    object-fit: cover;
}

.node,
.mongo,
.git {
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    #home-title {
        text-align: center;
        line-height: 115px;
        margin-bottom: 90px;
    }

    .intro-body {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .home-container {
        margin: 0 auto;
        width: 90vw;
    }

    #home-title {
        text-align: center;
        font-size: 5em;
    }

    #home-sub {
        text-align: center;
        font-size: 1.5em;
        margin: 20px auto 0 10px;
    }

    .intro-body {
        font-size: 23px;
        width: 100%;
    }
}
