.intro-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 4em;
    min-height: 75vh;
    letter-spacing: 1px;
    width: 70%;
    margin: 0 auto;
}

.home-title {
    font-family: Open-Sans;
    font-size: 35px;
    margin: 0;
}

@media (max-height: 840px) and (max-width: 500px) {
    .home-title {
        font-size: 25px;
    }
}

.home-sub {
    font-family: Open-Sans;
    font-size: 20px;
    margin: 5px 20px;
}

@media (max-height: 840px) and (max-width: 500px) {
    .home-sub {
        font-size: 15px;
        max-width: 80%;
        margin-top: 0;
    }
}

#const {
    color: var(--const);
}

#varName {
    color: var(--blue-text);
}

.equalAndComma {
    color: white;
}

.openCurlyBrace {
    color: var(--curly-braces);
}

.closeCurlyBrace {
    color: var(--curly-braces);
}

.key {
    color: var(--key);
}

.value {
    color: var(--orange-text);
}

/* /////////////////////////// */

#tech-exp {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(to bottom, transparent, var(--navbar-blue)); */
    padding-bottom: 4rem;
}

#tech-title {
    font-size: 50px;
    font-family: system-ui, sans-serif;
    color: white;
    width: 100vw;
    /* background: linear-gradient(
        to bottom,
        transparent 30%,
        var(--primary-button) 55%,
        transparent 75%
    ); */
    font-family: Open-Sans;
    text-align: center;
    letter-spacing: 1px;
}

.tech-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
}

.tech-about-animation {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: var(--delay);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tech-logo {
    background-color: white;
    max-width: 96px;
    height: 96px;
    padding: 10px;
    margin: 5px;
    object-fit: cover;
    border-radius: 20%;
}

.node,
.mongo,
.git,
.next {
    object-fit: contain;
}

@media (max-width: 500px) {
    #tech-title {
        font-size: 40px;
    }
}
