.dropdown-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    width: 5em;
    filter: invert(95%) sepia(8%) saturate(409%) hue-rotate(144deg)
        brightness(92%) contrast(83%);
}

.menu-img {
    position: relative;
    width: 30%;
}

.dropdown-btn:hover .menu-img-1 {
    animation: dropdown-menu-img-1 1s infinite;
}

.dropdown-btn:hover .menu-img-2 {
    animation: dropdown-menu-img-2 1s infinite;
}

.dropdown-btn:hover .menu-img-3 {
    animation: dropdown-menu-img-3 1s infinite;
}

.dropdown-toggle-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(206, 181, 255);
    z-index: 1;
    font-family: Open-Sans;
    font-size: 4em;
    opacity: 90%;
}

.close-menu-btn {
    position: relative;
    font-family: 'Times New Roman';
    right: -9em;
    top: -0.5em;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.close-menu-btn:hover {
    animation: whoa 0.9s linear infinite;
}

.dropdown-menu-item {
    font-family: Open-Sans;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: -5px;
    font-weight: bold;
    color: black;
    margin: 8px;
}

.dropdown-menu-item:hover {
    position: relative;
    animation: hop 200ms ease-in-out 1;
}

@media screen and (max-width: 500px) {
    .dropdown-toggle-container {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 1200px) {
    .close-menu-btn {
        position: relative;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
    }
}
