#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    background-color: var(--navbar-blue);
    height: 2.5em;
    padding-right: 2em;
}

@media (max-height: 840px) and (max-width: 500px) {
    #navbar {
        justify-content: center;
        padding-right: 0;
        gap: 0;
    }
}

#logo {
    margin: 0 auto 0 1em;
    color: var(--value);
    letter-spacing: 2px;
    font-family: Open-Sans;
    font-weight: bold;
    font-size: 20px;
}

@media (max-height: 840px) and (max-width: 500px) {
    #logo {
        display: none;
    }
}

.nav-button,
a {
    text-decoration: none;
    color: var(--primary-text);
    font-family: Open-Sans;
    border: none;
    height: 80%;
    font-size: 15px;
    font-weight: 100;
    background-color: transparent;
}

.home a:hover,
.about a:hover,
.projects a:hover,
.contact a:hover {
    color: var(--nav-hover);
}

.resume a,
.github a {
    color: var(--outside-link);
}

.resume a:hover,
.github a:hover {
    color: var(--glow-green);
}
