#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    height: 2.5em;
    padding: 0.5em 5em 1em 3em;
    /* border-bottom: 2px solid var(--navbar-blue); */
}

#navbar::after {
    content: '';
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--navbar-blue);
}

.nav-button,
a {
    text-decoration: none;
    font-family: Open-Sans;
    border: none;
    height: 80%;
    font-size: 15px;
    font-weight: 100;
    background-color: transparent;
}

#logo,
a {
    --s: 0.1em;
    --c: var(--yellow-text);

    color: #0000;
    background: linear-gradient(90deg, var(--c) 50%, #ffffff 0)
            calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

#logo {
    font-family: system-ui, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto 0 1em;
}

#logo:hover {
    --_p: 100%;
}

.home a:hover,
.about a:hover,
.projects a:hover,
.contact a:hover {
    --_p: 100%;
}

.resume a:hover,
.github a:hover {
    --_p: 100%;
}

@media (max-height: 840px) and (max-width: 500px) {
    #navbar {
        /* border: 2px solid red; */
        justify-content: center;
        padding: 0;
        padding-top: 10px;
        gap: 0;
        height: 3em;
    }

    #logo {
        display: none;
    }

    .nav-button,
    a {
        font-size: 18px;
    }
}

/* @media (max-height: 840px) and (max-width: 500px) {
    #logo {
        display: none;
    }
} */

/* @media (max-height: 840px) and (max-width: 500px) {
    .nav-button,
    a {
        font-size: 18px;
    }
} */
