#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 2.5em;
}

#logo {
    padding: 0;
    margin: 0 auto 0 1em;
}

#resume-button,
#dropdown-button {
    font-family: Open-Sans;
    border: none;
    height: 80%;
    font-size: 12px;
    font-weight: 100;
    background-color: rgb(206, 206, 206);
}

#dropdown-button {
    display: flex;
    align-items: center;
    margin: 0 1em 0 2em;
}

#resume-button a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

#dropdown-button-text {
}
