#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    height: 2.5em;
    padding: 0.5em 5em 1em 3em;
}

#navbar::after {
    content: '';
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: var(--navbar-blue);
}

.nav-button,
a {
    text-decoration: none;
    font-family: Open-Sans;
    border: none;
    height: 80%;
    font-size: 15px;
    background-color: transparent;
}

/* #logo, */
a {
    color: #0000;
    background: linear-gradient(90deg, var(--c) 50%, #ffffff 0)
            calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.github a,
.resume a {
    background: linear-gradient(90deg, var(--c) 50%, #9b9b9b 0)
            calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    background-clip: text, padding-box;
}

#logo a {
    font-family: Covered;
    font-size: 25px;
    color: #0000;
    background: linear-gradient(90deg, var(--c) 50%, #cf7278 0)
            calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

#logo {
    cursor: pointer;
    margin: 0 auto 0 1em;
    /* letter-spacing: 1px; */
}

#logo:hover {
    --_p: 100%;
}

.home a:hover,
.about a:hover,
.projects a:hover,
.contact a:hover {
    --_p: 100%;
}

.resume a:hover,
.github a:hover {
    --_p: 100%;
}

@media (max-height: 840px) and (max-width: 500px) {
    #navbar {
        /* border: 2px solid red; */
        justify-content: center;
        padding: 0;
        padding-top: 10px;
        gap: 0;
        height: 3em;
    }
    #logo {
        display: none;
    }
    .nav-button,
    a {
        font-size: 18px;
    }
}
