#projects-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Projects Page Header + Animation ///////////////////////// */

#projects-page-header {
    font-size: 5em;
    position: relative;
    left: 8.2rem;
    margin: 0.3em auto -1rem auto;
    transform: translate(-50%, -50%);
    font-family: Slabo;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#projects-page-header span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-red);
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: hidden;
}
#projects-page-header:hover span:nth-child(1) {
    transform: translateY(-18px);
}
#projects-page-header span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-yellow);
    transition: 0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
}
#projects-page-header:hover span:nth-child(2) {
    transform: translateY(18px);
}
#projects-page-header span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(0);
    width: 91%;
    color: #000;
    background: #ff0;
    font-size: 0.15em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 20px;
    margin-left: 5px;
    transition: 0.5s;
}
#projects-page-header:hover span:nth-child(3) {
    transform: translateY(-50%) scaleY(1);
}

/* End ///////////////////////////////////////////////////////////// */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    width: 90%;
}

.project-title {
    color: var(--primary-yellow);
    /* font-family: Open-Sans; */
    font-family: Slabo;
    font-size: 30px;
    margin: 0;
}

.description {
    text-align: center;
    width: 70%;
    color: var(--primary-grey);
    font-family: Open-Sans;
    /* font-family: Slabo; */
    /* letter-spacing: 1px; */
    font-size: 16px;
}

.description li {
    margin-bottom: 1em;
    list-style-type: none;
}

/* Not sure where this property is coming from but I found it in the DOM and it was preventing the UL from being centered*/

.description ul {
    padding-inline-start: 0;
}

/* Larger Viewport adjustments */

@media (min-width: 630px) {
    .description {
        width: 70%;
    }

    #projects-page-header {
        margin-top: 0;
    }
}

@media (min-width: 900px) {
    .description {
        width: 50%;
    }
}
