#projects-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-page-header {
    font-family: Open-Sans;
    color: var(--primary-yellow);
    font-size: 70px;
    width: 100vw;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    width: 60svw;
}

.project-title {
    color: white;
    font-family: Slabo;
    font-size: 30px;
    margin: 0;
}

.description {
    text-align: center;
    width: 70%;
    color: var(--primary-grey);
    font-family: Open-Sans;
    font-size: 16px;
}

/* Not sure where this property is coming from but I found it in the DOM and it was preventing the UL from being centered*/
.description ul {
    padding-inline-start: 0;
}

.description li {
    margin-bottom: 1em;
    list-style-type: none;
}

/* Split screen for 13" laptop 640px x 688px */
@media (min-width: 630px) and (max-width: 650px) {
    .description {
        width: 100%;
    }
}

@media (max-height: 840px) and (width < 500px) {
    .project {
        width: 90%;
    }
    .description {
        display: flex;
        align-items: center;
    }
}
