#projects-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #projects-page-header {
    font-family: Open-Sans;
    color: var(--primary-yellow);
    font-size: 70px;
    width: 100vw;
    text-align: center;
    letter-spacing: 2px;
} */

/* Testing new projects page header /////////////////////// */

/* #projects-page-header-top {
    font-size: 6em;
    font-family: Open-Sans;
    margin: 1em auto auto auto;
    border: 1px solid red;
} */

#projects-page-header {
    /* border: 1px solid blue; */
    position: relative;
    margin-bottom: -20px;
    margin-top: 1em;
    margin-left: 3.5em;
    transform: translate(-50%, -50%);
    font-size: 6em;
    font-family: Slabo;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#projects-page-header span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-red);
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: hidden;
}
#projects-page-header:hover span:nth-child(1) {
    transform: translateY(-18px);
}
#projects-page-header span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-yellow);
    transition: 0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
}
#projects-page-header:hover span:nth-child(2) {
    transform: translateY(18px);
}
#projects-page-header span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(0);
    width: 91%;
    color: #000;
    background: #ff0;
    font-size: 0.15em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 20px;
    margin-left: 5px;
    transition: 0.5s;
}
#projects-page-header:hover span:nth-child(3) {
    transform: translateY(-50%) scaleY(1);
}

/* End /////////////////////// */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    width: 60svw;
}

.project-title {
    color: var(--primary-yellow);
    font-family: Open-Sans;
    font-size: 30px;
    margin: 0;
}

.description {
    text-align: center;
    width: 70%;
    color: var(--primary-grey);
    font-family: Open-Sans;
    font-size: 16px;
}

/* Not sure where this property is coming from but I found it in the DOM and it was preventing the UL from being centered*/
.description ul {
    padding-inline-start: 0;
}

.description li {
    margin-bottom: 1em;
    list-style-type: none;
}

/* Split screen for 13" laptop 640px x 688px */
@media (min-width: 630px) and (max-width: 650px) {
    .description {
        width: 100%;
    }
}

@media (max-height: 840px) and (width < 500px) {
    .project {
        width: 90%;
    }
    .description {
        display: flex;
        align-items: center;
    }
    #projects-page-header {
        /* left: 0%; */
        margin-top: 15px;
        font-size: 5em;
    }
}
