/* main development viewport size 958x951 */


.proj-page-container {
    padding: 0;
    margin: 0;
}

#header-section {
    position: fixed;
    min-width: 30%;
    height: 100vh;
    margin-top: 4em;
    padding: 20px;
}

.proj-page-header {
    padding: 0;
    margin: 0;
    font-size: 9em;
    font-family: Ranchers;
    text-align: right;
    color: #D1A60B;
}

.individual-proj-box {
    position: relative;
    right: 5em;
    padding: 4em 0 4em 0;
    border-bottom: 2px solid #D1A60B;
}

.proj-desc-container {
    max-width: 60%;
    height: 100vh;
    margin-top: 5em;
    margin-left: 30em;
    padding: 1em;
}

.desc-home {
    font-family: Slabo;
    color: rgb(194, 213, 216);
    font-size: 1.4em;
    letter-spacing: 1.5px;
    line-height: 28px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
    
}

.project-title {
    font-family: Slabo;
    font-size: 4em;
    letter-spacing: 2px;
    margin: auto auto .5em 1em;
    color: rgb(255, 149, 0);
}

.btn-home {
    display: flex;
    justify-content: center;
    width: 100%;
}

.proj-link-btn {
    margin: 4em 5px 2em 5px;
    background-color: #79620c;
    border: none;
    width: 6em;
    height: 1.5em;
    opacity: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.proj-link-btn a {
    text-decoration: none;
    color: black;
}

.proj-link-btn:hover {
    background-color: #D1A60B;
}

#more-info {
    position: relative;
    margin-top: 5em;
    left: -5em;
    color: rgb(194, 213, 216);
    font-family: Slabo;
}

@media screen and (min-width: 1400px) {
    .individual-proj-box {
        right: 3em;
    }
    .proj-desc-container {
        margin-left: 42em;
    }
}

@media screen and (max-width: 825px) {
    .proj-desc-container {
        margin-left: 21em;
    }
    .proj-page-header{
        font-size: 7em;
    }
}


@media screen and (max-width: 500px) {
    #header-section {
        position: relative;
        width: 100vw;
        margin: 0;
        height: 20%;
    } 
    
    .proj-page-header {
        display: inline;
        padding: 0;
        margin: 0;
        font-size: 6em;
        font-family: Ranchers;
        text-align: center;
    }

    .individual-proj-box {
        width: 90vw;
        position: relative;
        left: 0;
        top: 0;
    }
    
    .proj-desc-container {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    
    .desc-home {
        width: 90vw;
    }
    
    .project-title {
        font-family: Slabo;
        width: 90vw;
        font-size: 4em;
        letter-spacing: 3px;
        margin: auto auto .5em 0;
        color: rgb(255, 149, 0);
    }

    .carousel-home {
        width: 90vw;
    }

    .btn-home {
        width: 90vw;
    }
}