#projects-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-page-header {
    font-family: Slabo;
    color: var(--primary-text);
    font-size: 70px;
    letter-spacing: 2px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8em;
    width: 60svw;
}

.project-title {
    color: var(--primary-text);
    font-family: Open-Sans;
    font-size: 30px;
    margin: 0;
}

.description {
    text-align: center;
    min-width: 50%;
    max-width: 90%;
    color: var(--primary-grey);
    font-family: Open-Sans;
    font-size: 16px;
}

.description li {
    margin-bottom: 1em;
    list-style-type: none;
}

.project-link-button {
    cursor: pointer;
    border: none;
    background-color: var(--primary-button);
    padding: 3px 10px;
    width: 5em;
    border-radius: 5px;
}

.project-link-button:hover {
    background: rgb(91, 46, 95);
    a {
        color: white;
    }
}

.project-link-button a {
    color: var(--primary-grey);
}
