/* main development viewport size 958x951 */


@font-face {
    font-family: Ranchers;
    src: url(../fonts/Ranchers/Ranchers-Regular.ttf);
}

@font-face {
    font-family: Open-Sans;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}


@font-face {
    font-family: Slabo;
    src: url(../fonts/Slabo_27px/Slabo27px-Regular.ttf);
}

/*///////////////////////
/// Keyframes ///////*/

@keyframes resume-btn-fade {
    0% {
        background-color: #79620c;
    }
    100% {
        background-color: #D1A60B;
    }
}

@keyframes resume-btn-fade-reverse {
    0% {
        background-color: #D1A60B;
    }
    100% {
        background-color: #79620c;
    }
}

@keyframes grow {
    0% {
        font-size: 16px;
        color: darkgoldenrod;
    }
    100% {
        font-size: 16.6px;
    }
}

@keyframes dropdown {
    0% {
        top: -40em;
    }
    100% {
        top: 0;
    }
}

@keyframes dropdown-up {
    0% {
        top: 0;
    }
    100% {
        top: -40em;
    }
}

@keyframes whoa {
    0% {
        color: violet;
    }
    14% {
        color: indigo;
    }
    28% {
        color: blue;
    }
    42% {
        color: teal;
    }
    54% {
        color: green;
    }
    68% {
        color: yellow;
    }
    82% {
        color: orange;
    }
    96% {
        color: red;
    }
    100% {
        color: hotpink;
    }
}

@keyframes loop {
    0% {
        width: 5em;
    }
    50% {
        width: 4em;
    }
    100% {
        width: 5em;
    }
}

@keyframes loop2 {
    0% {
        width: 3.3em;
    }
    50% {
        width: 2.3em;
    }
    100% {
        width: 3.3em;
    }
}

@keyframes hop {
    0% {
        top: 0;
    }
    70% {
        top: -5px;
    }
    100% {
        top: 0;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}


body {
    width: 100vw;
    background: linear-gradient(120deg, #335c67, rgb(29, 29, 43));
    background-attachment: fixed;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
}


/*////////////////////
/// Navbar ///////*/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin-bottom: 10px;
    height: 1.2em;
}

.buttons-box {
    display: flex;
}

.resume-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #79620c;
    border: none;
    width: 6em;
    height: 1.5em;
    opacity: 100%;
    border-radius: 3px;
}

.resume-btn a {
    align-self: center;
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-family: open-sans;
    font-weight: bold;
    font-size: 15px;
}

.resume-btn:hover {
    background-color: #e09f3e;
    animation: resume-btn-fade .2s ease-out;
}

.resume-btn:not(:hover) {
    animation: resume-btn-fade-reverse .2s ease-in;
}

#email-instr {
    padding: 0;
    margin: 0 auto auto 20px;
    color: white;
    font-size: 16px;
    font-family: open-sans;
    opacity: 50%;
}

#email {
    background: none;
    border: none;
    text-decoration: none;
    padding: 0;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-family: open-sans;
    opacity: 50%;
}

#email-text {
    display: inline;
    cursor: pointer;
    opacity: 50%;
}

#email-text:hover {
    color: #e09f3e;
    font-weight: bold;
    opacity: 100%;
    animation: grow .2s ease-in 1 forwards;
}

.dropdown-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    width: 5em;
    filter: invert(95%) sepia(8%) saturate(409%) hue-rotate(144deg) brightness(92%) contrast(83%);
}

.dropdown-btn:hover {
    animation: loop .8s infinite;
}

.dropdown-toggle-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(206, 181, 255);
    z-index: 1;
    font-family: Ranchers;
    font-size: 4em;
    opacity: 90%;
}

.close-menu-btn {
    position: relative;
    right: -9em;
    top: -.5em;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.close-menu-btn:hover {
    animation: whoa .6s linear infinite;
}

.dropdown-item {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 8px;
}

.dropdown-item:hover {
    position: relative;
    animation: hop 200ms ease-in-out  1;
}


/*//////////////////////
/// Carousel ///////*/

.carousel {
    position: relative;
    height: 300px;
    width: 80%;
    max-width: 30em;
    margin: 0 auto;
}

.images-list {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.slide, .current-slide {
    height: 100%;
    list-style: none;
}

.slide {
    display: none;
}

.current-slide {
    display: block;
}

.image {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

/* Carousel Arrow buttons */

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    margin: 0;
    background: transparent;
    width: 3em;
    cursor: pointer;
    opacity: 75%;
}

.btn-prev {
    left: 2.2em;
}

.btn-next {
    right: 2.2em;
}

/* Carousel Nav Buttons */

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.position-indicator {
    border: 0;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background: rgba(0, 0, 0, .3);
    margin: 1em 5px;
    cursor: pointer;
}

.current-dot {
    background: rgba(0, 0, 0, .75)
}

/*////////////////////
/// Footer ///////*/

.footer {
    display: none;
    width: 100%;
    margin: 4em auto 2em auto;
    text-align: right;
}

.to-top-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    width: 3.3em;
    margin-right: 32px;
}

.temp-issue {
    /* Working on figuring out why this animation moves the entire page */
    font-size: 10px;
    margin: 0 15px auto auto;
}

.to-top-btn:hover {
    animation: loop2 .8s infinite;
}

.to-top-text {
    display: none;
}

@media screen and (max-width: 500px) {
    .navbar {
        display: inline;
    }
    
    .buttons-box {
        margin-left: 10px;
        position: relative;
        display: block;
    }
    
    .resume-btn {
        height: 2em;
        border-radius: 15px;
    }
    
    .resume-btn:hover {
        animation-play-state: paused;
    }
    
    .resume-btn:not(:hover) {
        animation-play-state: paused;
    }

    #email-instr, #email {
        position: relative;
        left: 5.5em;
        top: -2.2em;
    }
    
    #email-text:hover {
        animation-play-state: paused;
    }
    
    .dropdown-btn {
        position: relative;
        left: 25.5em;
        top: -5.5em;
    }

    .menu-img {
        content: url(../images/menu-icon.png);
    }
    
    .dropdown-btn:hover {
        animation-play-state: paused;
    }
    
    .dropdown-toggle-container {
        width: 100vw;
        height: 100vh;
    }

    .footer {
        display: none;
    }
}    
    

@media screen and (max-width: 1200px) {
    .close-menu-btn {
        position: relative;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
    }
}