/*//////////////////////////////////////////////
/// Default styling; 15" Macbook Air ///////*/

body {
    background-color: #0F3236;
    padding: 0;
    margin: 0;
}

/*////////////////////
/// Navbar ///////*/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin-bottom: 10px;
    height: 2.5em;
    background: transparent;
}

.buttons-box {
    display: flex;
}

.resume-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #79620c;
    border: none;
    width: 6em;
    height: 1.5em;
    opacity: 100%;
    border-radius: 3px;
}

.resume-btn:hover {
    background-color: #D1A60B;
}

.resume-btn a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.email {
    padding: 0;
    width: 400px;
    margin: 0 0 0 1em;
    color: darkgoldenrod;
    font-size: 16px;
    font-family: Helvetica;
    opacity: 50%;
}

.email:hover {
    color: darkorange;
    opacity: 100%;
}

.dropdown-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    width: 5em;
}

.dropdown-btn:hover {
    animation: loop .8s infinite;
}

.dropdown-toggle-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkgoldenrod;
    z-index: 1;
    font-size: 4em;
    opacity: 95%;
}

    @keyframes dropdown {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

.close-menu-btn {
    position: relative;
    right: -9em;
    top: -.5em;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

    @keyframes loop {
        0% {
            width: 5em;
        }
        50% {
            width: 4em;
        }
        100% {
            width: 5em;
        }
    }

.dropdown-item {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 40px
}

/* Figure out how to have this animation affect only the .dropdown-item that's being hovered. Also how to not let the animation affect the close menu button. */
.dropdown-item:hover {
    animation: hop 200ms ease-in-out  1;
}

    @keyframes hop {
        0% {
            margin-top: 40px;
        }
        70% {
            margin-top: 30px;
        }
        100% {
            margin-top: 40px;
        }
    }

/*////////////////////////////
/// Home Container ///////*/

.home-container {
    padding: 0;
    width: 80%;
    height: 64vh;
    margin: 0 auto;
}

#home-title {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: .3px .4px 1px black;
    font-size: 70px;
    margin: 3em auto 0 0;
    color: #D1A60B;
}

#home-sub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0 auto 1em 0em;
    opacity: 75%;
    color: #79620c;
}

.intro-body {
    font-size: 1.5em;
    width: 60%;
    margin: 0 auto;
    color: rgb(194, 213, 216);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/*///////////////////////////////
/// Feature Container ///////*/

.featured {
    /* For some reason flexbox removes the 2 HR tags... */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    padding: 0;
    margin-top: 0;
}

#featured-header {
    font-size: 55px;
    color: #D1A60B;
    font-family: helvetica;
    text-shadow: .3px .4px 1px black;
    text-align: center;
    margin: 0;
    padding: 0;
}

#hr-1, #hr-2 {
    background: rgb(194, 213, 216);
    height: 4px;
    border: none;
    box-shadow: .3px .4px 1px black;
    border-radius: 50%;
    overflow: hidden;
}

#hr-1 {
    position: relative;
    left: -8em;
}

#hr-2 {
    position: relative;
    right: -8em;
}

#featured-about {
    padding: 15px 50px;
    font-size: 20px;
    letter-spacing: .8px;
    line-height: 23px;
}

/*//////////////////////
/// Carousel ///////*/

.carousel {
    position: relative;
    height: 300px;
    width: 80%;
    max-width: 30em;
    margin: 0 auto;
}

.images-list {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.slide, .current-slide {
    height: 100%;
    list-style: none;
}

.slide {
    display: none;
}

.current-slide {
    display: block;
}

.image {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

/* Carousel Arrow buttons */

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    margin: 0;
    background: transparent;
    width: 3em;
    cursor: pointer;
    opacity: 75%;
}

.btn-prev {
    left: 2.2em;
}

.btn-next {
    right: 2.2em;
}

/* Carousel Nav Buttons */

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.position-indicator {
    border: 0;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background: rgba(0, 0, 0, .3);
    margin: 1em 5px;
    cursor: pointer;
}

.current-dot {
    background: rgba(0, 0, 0, .75)
}

/*////////////////////
/// Footer ///////*/

.footer {
    width: 100%;
    margin: 4em auto 2em auto;
    text-align: right;
}

.to-top-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    width: 3.3em;
    margin-right: 32px;
}

.temp-issue {
    /* Working on figuring out why this animation moves the entire page */
    font-size: 10px;
    margin: 0 15px auto auto;
}

.to-top-btn:hover {
    animation: loop2 .8s infinite;
}

    @keyframes loop2 {
        0% {
            width: 3.3em;
        }
        50% {
            width: 2.3em;
        }
        100% {
            width: 3.3em;
        }
    }

.to-top-text {
    display: none;
}

/*////////////////////////////
/// Mobile Styling ///////*/

@media screen and (max-width: 412px) {
    #home-sub {
        margin-bottom: 4.8em;
    }

    .home-container {
        height: 85vh;
    }

    .intro-body {
        font-size: 25px;
        width: 100%;
    }

    #featuredAbout {
        padding: 0;
    }

    .carousel-nav {
        margin-bottom: 10px;
    }

    .footer {
        border: 2px solid gold;
    }

    .to-top-link img {
        width: 4em;
        margin-top: 7em;
    }

    .to-top-text {
        font-size: 25px;
        display: block;
        color: black;
        text-decoration: none;
        margin-top: -1.5em;
    }
}

/*////////////////////////////
/// Tablet Styling ///////*/

/*///////////////////////////////////
/// Large Monitor Styling ///////*/